<% if logged_in? %>

	<li class="nav-item">
		<a class="nav-link" href="/items">Items</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/locations">Locations</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/items/shopping-list">Shopping List</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/logout">Logout</a>
	</li>

<% end %>