<div class="col-sm-6 offset-sm-3">
	<h2>Create New Item</h2>
	<form action="/items" method="POST">
		<div class="form-group">
			<label for="item_name">Item Name: </label>
			<input type="text" class="form-control" id="item_name" name="item[name]">
		</div>

		<h3>Locations: </h3>

<% @locations.each do |location| %>
		<div class="form-check form-check-inline">
			<input type="checkbox" class="form-check-input" id="location_<%= location.id %>" name="item[location_ids][]" value="<%= location.id %>">
			<label for="location_<%= location.id %>" class="form-check-label"><%= location.name %></label>
		</div>
<% end %>
<br>	
		<input type="submit" value="Save" class="btn btn-primary mt-2">
	</form>
</div>