<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Need</th>
			<th scope="col">Item</th>
			<th scope="col">Locations</th>
		</tr>
	</thead>
	<tbody>

		<% if @items.empty? %>
		
			<tr>
				<th scope="row">
					All Stocked!
				</th>
				<td>n/a</td>
				<td>n/a</td>
			</tr>

		<% else %>
			<% @items.each do |item| %>

			<tr>
				<th scope="row"><%= item.under_amount %></th>
				<td><%= item.name %></td>
				<td><%= item.print_locations(links: true) %></td>

			</tr>

			<% end %>
		<% end %>

		
	</tbody>
</table>