
	
		




<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Need</th>
			<th scope="col">Item</th>
			<th scope="col">Locations</th>
		</tr>
	</thead>
	<tbody>
		<% @items.each do |item| %>
		<% if item.under? %>
		<tr>
			<th scope="row"><%= item.under_amount %></th>
			<td><%= item.name %></td>
			<td><%= item.print_locations_links %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>