<ol>
	<% @under_location_items.each do |item| %>
	<li>
		<%= item.item.name %>, <%= item.location.name %>
	</li>
	<% end %>
</ol>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Item</th>
			<th scope="col">Number to Buy</th>
			<th scope="col">Locations</th>
		</tr>
	</thead>
	<tbody>
		<% @under_location_items.each.with_index(1) do |line, index| %>
		<tr>
			<th scope="row"><%= index %></th>
			<td><%= line.item.name %></td>
			<td>tbd</td>
			<td>lorem</td>
			
		</tr>
		<% end %>
	</tbody>
</table>