<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">Doomsday Prepper Inventory</h1>
      <hr>
      <div class="row">
        <div class="col-sm-6 offset-sm-3">
          <ul class="list-group">
            <li class="list-group-item">1. Create an Account</li>
            <li class="list-group-item">2. Create Locations(s)</li>
            <li class="list-group-item">3. Create Item(s)</li>
            <li class="list-group-item">4. Manage Inventory and Pars Across Locations</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>