<div class="col-sm-6 offset-sm-3">

	<div class="list-group">

		<% @locations.each do |location| %>

		<a href="#" class="list-group-item list-group-item-action"><%= location.name %></a>

		<% end %>

	</div>

</div>