<% if flash.has?(:message) %>
<div class="col-sm-12">
  <div class="alert alert-secondary text-center" role="alert">
    <%= flash[:message] %>
  </div>
</div>
<% end %>

<div class="col-sm-6 offset-sm-3">
  <h2>Create New Location</h2>
  <form action="/locations" method="POST">
    <div class="form-group">
        <label for="location_name">Location Name: </label>
        <input type="text" class="form-control" id="location_name" name="location[name]">
    </div>

    <input type="submit" value="Save" class="btn btn-primary mt-2">
  </form>
</div>